@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

input:active,
input:hover,
input:visited,
input:focus {
  outline: none;
}

:root {
  /* ### Primary */
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);

  /* ### Accent */
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);

  /* ### Neutral */
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);

  --border-radius: 0.25rem;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

h1,
h2,
h3,
a {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.45rem;
}

a {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

img,
a,
span,
*::before,
*::after {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input[placeholder],
[placeholder],
*[placeholder] {
  color: #3f3f3f !important;
}

/* --- Layout Component --- */

.container {
  max-width: 32rem;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 89%;
  }
}

/* --- Input Component --- */

input {
  display: block;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  border: 0;
}

input::placeholder {
  color: var(--Light-Gray);
}

@media screen and (min-width: 1024px) {
  input {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
  }
}

/* --- Button Component --- */

.btn {
  background: transparent;
  border-radius: var(--border-radius);
  border: 0;
  display: block;
  outline: 0;
  padding: 1rem 2rem;
}

.btn__primary {
  background: var(--Bright-Blue);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    padding: 1.2rem 2rem;
  }
}

/* --- Email Notification --- */

.invalidated:invalid .input__email,
.invalidated:invalid .register__email {
  border: 1px solid #dc3545;
}

.invalidated:invalid .input__info,
.invalidated:invalid .register__info {
  display: block;
}

.input__info,
.register__info {
  display: none;
  font-size: 1.2rem;
}

.input__info {
  margin-top: 0.5rem;
  color: #dc3545;
}

.register__info {
  margin-top: -0.5rem;
  color: #fffd;
}

/* --- Navbar Section --- */

.navbar {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 6rem;
}

.nav__brand {
  width: 11rem;
}

.nav__list {
  display: flex;
  gap: 1.4rem;
  list-style-type: none;
}

.nav__link {
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 6rem 0;
  }

  .nav__brand {
    width: 15.5rem;
  }

  .nav__list {
    gap: 5.5rem;
  }

  .nav__link {
    font-size: 1.5rem;
  }
}

/* --- Header Section Illustration One --- */

.header {
  width: 100%;
  display: block;
  text-align: center;
}

.header__image {
  max-width: 100%;
}

.header__content {
  margin-top: 5rem;
}

.header__title,
.header__text {
  color: var(--Very-Dark-Blue);
}

.header__text {
  margin-top: 3rem;
}

.header__form {
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0;
  }

  .header__image {
    align-self: center;
    order: 1;
  }

  .header__content {
    /* align-self: center; */
    margin-top: 7.25rem;
    text-align: left;
  }

  .header__title {
    font-size: 3.75rem;
    line-height: 1.5;
  }

  .header__text {
    max-width: 93%;
    margin-top: 1.5rem;
    font-size: 1.7rem;
    line-height: 1.3;
  }

  .header__form {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* ---Header Input Component--- */

.input__email {
  width: 100%;
  border: 1px solid var(--Very-Dark-Blue);
}

.btn__submit {
  width: 100%;
  margin-top: 1.5rem;
  font-weight: 700;
}

.input__info {
  display: none;
}

@media screen and (min-width: 1024px) {
  .btn__submit {
    width: 31%;
    margin-top: 0;
  }

  .input__email {
    width: 50%;
    margin-right: 1.5rem;
  }
}

/* --- Main Section Illustration Two --- */

.main {
  margin-top: 12rem;
  width: 100%;
  position: relative;
  background: var(--Light-Grayish-Blue);
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.main::before {
  content: "";
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  max-width: 100%;
  width: 100%;
  height: 10rem;
  position: absolute;
  /* top: -3.75rem; */
  top: -5.5rem;
  z-index: 1;
}

.main__content {
  text-align: center;
}

.main__title {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 2.5rem;
  color: var(--Very-Dark-Blue);
}

.main__text p {
  line-height: 1.5;
  text-align: left;
}

.main__text p:first-of-type {
  margin-bottom: 1.8rem;
}

.main__text {
  color: var(--Desaturated-Blue);
}

.main__link {
  margin-top: 3rem;
  display: inline-block;
  padding-bottom: 0.35rem;
  padding-right: 2.5rem;
  border-bottom: 1px solid var(--Moderate-Cyan);
  position: relative;
  color: var(--Moderate-Cyan);
  margin-left: auto;
  margin-right: auto;
}

.main__link:hover {
  opacity: 0.8;
}

.main__link::before {
  content: "";
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -0.25rem;
  right: 0;
  width: 1.8rem;
  height: 1.8rem;
}

@media screen and (min-width: 1024px) {
  .main::before {
    content: "";
    background-image: url("../images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    max-width: 100%;
    width: 100%;
    height: 10rem;
    position: absolute;
    top: -10rem;
    z-index: 1;
  }

  .main {
    margin-top: 23rem;
    padding-bottom: 10rem;
  }

  .testimonial {
    display: grid;
    grid-template-columns: 55% 1fr;
  }

  .main__content {
    order: -1;
    text-align: left;
  }

  .main__images {
    width: 94%;
    align-self: center;
    justify-self: end;
    margin-top: -2.5rem;
  }

  .main__title {
    font-size: 3.8rem;
    text-align: left;
    margin-top: 1rem;
    color: var(--Very-Dark-Blue);
  }

  .main__text {
    color: var(--Desaturated-Blue);
    margin-top: 3.5rem;
  }

  .main__text p:first-of-type {
    margin-bottom: 1.5rem;
  }

  .main__text p {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: left;
    max-width: 77%;
  }

  .main__link {
    margin-top: 1.7rem;
    font-size: 1.5rem;
    display: inline-block;
    padding-bottom: 0.35rem;
    padding-right: 2.2rem;
    border-bottom: 1px solid var(--Moderate-Cyan);
    position: relative;
    color: var(--Moderate-Cyan);
    margin-left: auto;
    margin-right: auto;
  }

  .main__link:hover {
    opacity: 0.8;
  }

  .main__link::before {
    content: "";
    background-image: url("../images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    width: 1.8rem;
    height: 1.8rem;
  }
}

/* --- Testimonials Section --- */

.testimoni__box {
  width: 90%;
  border-radius: 0.75rem;
  padding: 2rem 1rem 2.2rem 2.5rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
}

.testimoni__quotes {
  width: 1.25rem;
  height: 1.25rem;
}

.testimoni__content {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.7;
  margin-top: 0.75rem;
  letter-spacing: 0.01rem;
  color: var(--Very-Dark-Blue);
}

.testimoni__profile {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 1.25rem;
}

.testimoni__label {
  margin-left: 1rem;
  text-align: left;
}

.label__name {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.label__position {
  margin-top: 0.2rem;
  font-size: 0.7rem;
}

.profile__photo {
  display: block;
  width: 2.5rem;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  .testimoni__box {
    width: 50.5%;
    padding: 2.5rem 2rem 2.5rem 3rem;
    margin-top: 4.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .testimoni__quotes {
    width: 1.5rem;
    height: 1.5rem;
  }

  .testimoni__content {
    font-size: 1.32rem;
    line-height: 1.65;
    letter-spacing: 0;
  }

  .testimoni__label {
    line-height: 1;
  }

  .label__name {
    font-size: 1.05rem;
  }

  .label__position {
    font-size: 0.8rem;
  }

  .profile__photo {
    width: 3rem;
  }
}

/* --- Register Section --- */

.register {
  background: var(--Desaturated-Blue);
  padding-top: 4rem;
  padding-bottom: 8rem;
  color: #fff;
}

.register__content {
  text-align: center;
}

.register__title {
  font-size: 1.8rem;
  color: #fff;
}

.register__text {
  margin-top: 2rem;
  font-size: 1.55rem;
  line-height: 1.5;
}

.register__form {
  margin-top: 2rem;
}

.register__email {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.register__info {
  text-align: center;
  display: none;
}

.register__button {
  margin-top: 1rem;
  width: 75%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .register {
    padding: 9.5rem 0;
    padding-bottom: 8rem;
  }

  .registration {
    display: grid;
    grid-template-columns: 59.3% 1fr;
  }

  .register__content {
    text-align: left;
    margin-top: 0.25rem;
    max-width: 70%;
  }

  .register__title {
    font-size: 3rem;
  }

  .register__text {
    letter-spacing: 0.02rem;
  }

  .register__form {
    margin-top: 1rem;
  }

  .register__email {
    margin: 0;
    padding: 1.5rem 2rem;
    display: block;
    width: 92%;
  }

  .register__button {
    display: block;
    width: 38%;
    padding: 1.5rem 0;
    margin-left: 0;
    margin-top: 0.75rem;
    font-weight: 700;
  }
}

/* --- Footer Section --- */

.footer {
  background: var(--Very-Dark-Blue);
  color: #fff;
  padding-top: 7rem;
}

.footer ul {
  list-style-type: none;
}

.phone__icon,
.email__icon {
  width: 1.8rem;
  height: 100%;
}

.footer__brand {
  width: 100%;
  max-width: 16rem;
}

.phone__label,
.email__label {
  display: flex;
  align-items: center;
}

.phone__text,
.email__text {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.footer__menu,
.footer__legal {
  margin-top: 3rem;
}

.contact__item:last-of-type {
  margin-top: 1.5rem;
}

.footnav {
  margin-top: 5rem;
}

.footnav__item + .footnav__item,
.legal__item + .legal__item {
  margin-top: 1.5rem;
}

.footer__socmed {
  padding: 5rem 0;
}

.social__menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 4rem;
    padding-bottom: 7rem;
  }

  .footer__brand {
    margin-bottom: 2.25rem;
    padding-top: 6rem;
  }

  .footer__menu {
    display: flex;
  }

  .contact__item {
    margin-left: 0.25rem;
  }

  .footer__menu,
  .footer__legal,
  .footnav {
    margin-top: 0;
  }

  .phone__icon,
  .email__icon {
    width: 1.8rem;
    height: 100%;
  }

  .footer__brand {
    width: 100%;
    max-width: 16.6rem;
  }

  .phone__text,
  .email__text {
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }

  .footnav {
    margin-left: 21rem;
  }

  .footer__legal {
    margin-left: 19rem;
  }

  .footer__socmed {
    margin-left: 17rem;
    padding: 0;
  }

  .footnav__link,
  .social__link,
  .legal__link {
    font-size: 1.5rem;
  }

  .social__menu {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
  }
}
