@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

input:active,
input:hover,
input:visited,
input:focus {
  outline: none;
}

:root {
  /* ### Primary */
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);

  /* ### Accent */
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);

  /* ### Neutral */
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
a,
button {
  font-family: "Raleway", sans-serif;
}

img,
a,
span {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

input[placeholder],
[placeholder],
*[placeholder] {
  color: #3f3f3f !important;
}

/* navbar styles */

.navbar {
  display: flex;
  align-items: center;
  padding: 3.8rem 0;
}

.brand img {
  width: 9.7rem;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  align-items: center;
  gap: 3.35rem;
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  font-size: 0.95rem;
  line-height: 1.5;
  font-weight: 400;
  color: inherit;
}

/* header styles */

.header {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.image-illustration-one {
  width: 100%;
  height: auto;
  min-width: 0;
  position: relative;
  top: -2rem;
}

.header-content {
  padding-top: 1.1rem;
}

.header-title {
  font-size: 2.35rem;
  margin-top: 1.5rem;
  line-height: 1.5;
}

.header-text {
  font-size: 1.06rem;
  margin-top: 1rem;
  line-height: 1.3;
}

.header-form {
  margin-top: 1.5rem;
}

.input-email {
  width: 16.2rem;
  padding: 0.7rem 1.2rem;
  border-radius: 0.2rem;
  font-size: 0.85rem;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}

.invalidated:invalid .input-email,
.invalidated:invalid .register-email {
  outline: 1px solid #dc3545;
}

.invalidated:invalid .input-info,
.invalidated:invalid .register-info {
  display: block;
}

.input-info,
.register-info {
  display: none;
  color: #dc3545;
  margin-top: 0.25rem;
  font-size: 0.9rem;
}

.button-started {
  width: 11.6rem;
  margin-left: 0.75rem;
  font-size: 0.81rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: var(--Bright-Blue);
  color: white;
  padding: 0.8rem 0;
  cursor: pointer;
  border-radius: 0.2rem;
}

.button-started:hover {
  background-color: rgb(107, 155, 255);
  cursor: pointer;
}
